html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin 0
	padding 0
	border 0
	font inherit
	font-size 100%
	vertical-align baseline
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main
	display block
html, body, :root
	line-height $base-line-height
	font-size $base-font-size
	font-family $base-font-family
	-webkit-font-smoothing antialiased
	text-rendering optimizeLegibility
ul, ol
	padding-left $base-list-padding-left
nav
	ol, ul
		list-style none
		padding 0
		margin 0
a
	color inherit
	outline none
	text-decoration none
	cursor pointer
img
	display block
	max-width 100%
blockquote, q
	quotes none
blockquote:before, blockquote:after, q:before, q:after
	content none
table
	border-collapse collapse
	border-spacing 0
input, textarea, button, select
	padding 0
	margin 0
	display block
	border none
	color inherit
	line-height $base-line-height
	font-size 1rem
	font-family $base-font-family
	background none
	outline none
	box-sizing border-box
	border-radius 0
	vertical-align middle
button
	cursor pointer
	text-align center
select
	cursor pointer
b, strong
	font-weight bold
i, em
	font-style italic
p
	margin 0.75em 0
small
	font-size 0.75em
sub
	vertical-align sub
	font-size 0.5em
sup
	vertical-align super
	font-size 0.5em