#app
	padding-bottom 100px
.server-error
	// test using vatiable from shared.styl
	color $red
.logos
	img, svg
		max-width 80px
		max-height 80px
		fill #8ED6FB
.page-load-enter-active
	transition opacity 0.2s
.page-load-enter, .page-load-leave-to
	opacity 0
	position absolute