//- test absolute include
include /src/mixins
#app
	header
		.logos
			router-link(to="/")
				//- test module require src
				img(src="~assets/i/webpack.svg")
				img(src="~assets/i/vue.png")
				//- test icon insertion
				icon(name="webpack")
		nav
			b!='Examples: '
			router-link(to="/examples/async") Async
			!=' | '
			router-link(to="/examples/server-error") Server error
			!=' | '
			router-link(to="/whatever") 404
			!=' | '
			router-link(to="/examples/async-404") Async 404
			!=' | '
			//- test module require href
			a(:href="txt" download) Download
	hr
	main: transition(name="page-load")
		server-error(v-if="serverError" :error="serverError" key="error")
		router-view(v-else)
	footer: +pageFooter(new Date().getFullYear())
