//- test absolute include
include /src/mixins
#app
	header
		.logos
			router-link(to="/")
				//- test module require src
				img(src="~assets/i/webpack.svg")
				img(src="~assets/i/vue.png")
				//- test icon insertion
				icon(name="webpack")
		nav
			b!='Examples: '
			router-link(to="/examples/async") Async
			!=' | '
			router-link(to="/examples/server-error") Server error
			!=' | '
			router-link(to="/whatever") 404
			!=' | '
			//- test module require href
			a(href="~assets/docs/example.txt" download) Download
	hr
	main
		p.server-error(v-if="serverError")!='Something went wrong... '
			template(v-if="serverError.message")
				br
				!='{{ serverError.message }}'
		transition(v-else name="page-load"): router-view
	footer: +pageFooter(new Date().getFullYear())