html
	head
	body
		//APP
		script(crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.findIndex,Array.prototype.includes,Array.prototype.entries,Array.prototype.keys,Object.values,Object.entries,Symbol,Number.isInteger,EventSource,String.prototype.padStart,Symbol.iterator,Math.trunc")
