html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1")
	body
		//APP
		script(src="//cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.find,Array.prototype.findIndex,Array.prototype.includes,Array.prototype.entries,Array.prototype.keys,Object.values,Object.entries,Symbol")